.button {
  border-radius: 100px;
  font-weight: bold;
  color: #fff;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.primary {
  background-color: #20a7fb;
}

.secondary {
  background-color: #66bf3c;
}

.small {
  padding: 6px 12px;
}

.medium {
  padding: 10px 16px;
}

.large {
  padding: 14px 20px;
}
